[Unit]
Description = uWSGI pypractice
After       = syslog.target

[Service]
ExecStart=/usr/local/bin/uwsgi --ini /home/DjangoBase_Server/pypractice/.config/environment/production/pypractice_uwsgi.ini

# Requires systemd version 211 or newer
RuntimeDirectory    = uwsgi
Restart             = always
KillSignal          = SIGQUIT
Type                = notify
StandardError       = syslog
NotifyAccess        = all

[Install]
WantedBy            = multi-user.target